.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.hero-text{
    position: relative;
    left: 8.6vw;
    top: 55.59vh;
}
.hero h1{
    font-family: 'CircusOfInnocents';
    font-size: 25.59pt;
    line-height: 22.75pt;
    font-weight: 500;
    color: rgb(237, 237, 236);
    font-style: italic;
    text-align: left;
}

.hero .green-text-color{
    font-family: "CircusOfInnocents";
    color: var(--green);
    font-size: 51.18pt;
    line-height: 53.75pt;
    font-style: italic;
    font-weight: 900;
}
.hero-social{
    position: relative;
    left: 8.6vw;
    top: 60.59vh;
    display: flex;
}

.hero-social img{
    margin-right: 48px;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    border: 4px solid var(--green);
}
.hero-social img:last-child{
    margin-right: 0;
}