.hero{
    width: 100%;
    position: relative;
    height: 100vh;
}
.hero .hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.hero-text{
    position: absolute;
    left: 8.6vw;
    top: 55.59vh;
}
.hero h1{
    font-family: 'CircusOfInnocents';
    font-size: 25.59pt;
    line-height: 22.75pt;
    font-weight: 500;
    color: rgb(237, 237, 236);
    font-style: italic;
    text-align: left;
}

.hero .green-text-color{
    font-family: "CircusOfInnocents";
    color: var(--green);
    font-size: 51.18pt;
    line-height: 53.75pt;
    font-style: italic;
    font-weight: 900;
}
  