*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CircusOfInnocence;
    src: url('./FONTS/Circus\ Of\ Innocents.ttf');
}

@font-face {
    font-family: MyridPro;
    src: url("./FONTS/myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF") format("opentype");
}

:root {
    --green: #81a62b;
    --primary-clr: #000918;
    --white: #eeeeed;
}

section{
    width: 100%;
    position: relative;
}

.green-text-color{
    color: var(--green);
}