*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: #81a62b;
    --primary-clr: #000918;
    --white: #eeeeed;
}

section{
    width: 100%;
    position: relative;
}

.green-text-color{
    color: var(--green);
}